include /mixins/rating
p.rating
  +rating(location.rating)
p.address= location.address
.card.mb-2
  .card-header Opening hours
  ul.list-group.list-group-flush
    each time in location.openingTimes
      li.list-group-item
        | #{time.days} 
        if time.closed
          | closed
        else
          | #{time.opening} - #{time.closing}
.card.mb-2
  .card-header Facilities
  .card-body
    each facility in location.facilities
      span.badge.badge-primary.mr-2.mb-1
        i.fas.fa-check.mr-1
        | #{facility}